<div
  class="fixed z-[100] top-1/2 -translate-y-1/2 end-0 me-[10vmin] flex flex-col gap-4"
>
  <button
    class="swiper-control md:text-xl border-2 border-transparent hover:border-current rounded-full aspect-square control-up hover:opacity-100 opacity-65 transition md:w-14 w-10"
  >
    <i class="fa-solid fa-chevron-up"></i>
  </button>
  <button
    class="swiper-control md:text-xl border-2 border-transparent hover:border-current rounded-full aspect-square control-down hover:opacity-100 opacity-65 transition md:w-14 w-10"
  >
    <i class="fa-solid fa-chevron-down"></i>
  </button>
</div>
