<app-navbar></app-navbar>
<div>
  <div
    class="hero-banner h-screen fixed pointer-events-none"
    [style]="'background-image: url(' + case.bannerUrl + ');'"
  >
    <app-bg-overlay [scrolled]="scrolled"></app-bg-overlay>
  </div>
  <div class="content z-10 relative mx-[10vmin] pb-[10vmin]">
    <section class="h-screen flex flex-col justify-center max-w-[80%]">
      <a routerLink="/" class="flex items-center gap-2 z-10">
        <i class="fa-solid fa-arrow-left text-xs"></i> Voltar</a
      >
      <div
        class="case-title inline-block text-4xl md:text-7xl mb-4 text-pretty font-bold"
      >
        {{ case.title }}
      </div>
      <div
        class="slide-category char category-char text-xs md:text-base uppercase text-zinc-500 font-bold"
      >
        {{ case.category }}
      </div>
    </section>
    <section class="body-content" [innerHTML]="case.body"></section>
  </div>
</div>
