.hero-banner {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes bgOpa {
  from {
    --tw-bg-opacity: 0.5;
  }
  to {
    --tw-bg-opacity: 0.8;
  }
}
