.curtain {
  transform-origin: center;
  transform: translate(-50%, -150%);
  top: 50%;
  transition: 1.5s;
  &.show {
    transform: translate(-50%, -50%);
  }
  &.hide {
    transform: translate(-50%, 50%);
    transition: 0s;
    pointer-events: none;
  }
}
