.slide-bg {
  transition: scale 1s;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-bg:hover {
  scale: 1.05;
}
